.search-result-categories>li>a {
    color: #b6b6b6;
    font-weight: 400
}

.search-result-categories>li>a:hover {
    background-color: #ddd;
    color: #555
}

.search-result-categories>li>a>.glyphicon {
    margin-right: 5px
}

.search-result-categories>li>a>.badge {
    float: right
}

.search-results-count {
    margin-top: 10px
}

.search-result-item {
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
    display: flex;
}

.search-result-item:after,
.search-result-item:before {
    content: " ";
    display: table
}

.search-result-item:after {
    clear: both
}

.search-result-item .image-link {
    display: block;
    overflow: hidden;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px
}

@media (min-width:768px) {
    .search-result-item .image-link {
        margin: -20px 0 -20px -20px;
        float: left;
        width: 200px;
    }
    #perioddivider {
      display: none;
    }
}

@media (max-width:767px) {
    .search-result-item .image-link {
        max-height: 200px
    }
}

.search-result-item .image {
    object-fit: cover;
    float: left;
    margin: -20px 0 -20px -20px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.search-result-item .info {
    margin-top: 2px;
    font-size: 12px;
    color: #999
}

.search-result-item .description {
    font-size: 13px
}

.search-result-item .links {
    font-size: 13px;
    display: inline-flex;
    align-items: center;
    padding-left: 5px;
}

.search-result-item .links>a {
    color: #F3969B
}

.search-result-item .links>a:hover {
    color: #A3D2C4;
    text-decoration-line: underline;
    cursor: pointer;
}

.search-result-item+.search-result-item {
    margin-top: 20px;
    display: flex;
}

@media (min-width:768px) {
    .search-result-item-body {
        margin-left: 20px
    }
}

.search-result-item-body .entry {
    font-size: 14px
}

.search-result-item-heading {
    font-weight: 400
}

.search-result-item-heading>a {
    color: #555
}

@media (min-width:768px) {
    .search-result-item-heading {
        margin: 0
    }
}

@media (max-width:768px) {
    .image {
        display: none;
    }
    #perioddivider {
      display: block;
    }
}

@media (min-width: 1200px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1000px;
  }
}

.py-5 {
  background-color: #eee
}

.body-ei {
  margin-right: 15px;
  height: 16px;
  vertical-align: text-top;
  filter: invert(69%) sepia(0%) saturate(6125%) hue-rotate(331deg) brightness(110%) contrast(17%);
  object-fit: cover;
  object-position: left;
  width: 16px;
}

.qs-line-1 {
  margin-bottom: 10px;
}
.qs-line-2 {
  margin-bottom: 30px;
}

.subheader {
  padding-bottom: 5px;
}

.custom-badge {
  margin-right:5px;
}

.custom-badge-prehistoric {
  background-color: #170055;
}

.custom-badge-palaeolithic {
  background-color: #39A2DB;
}

.custom-badge-mesolithic {
  background-color: #41AEA9;
}

.custom-badge-neolithic {
  background-color: #7ECA9C;
  color: #202124;
}

.custom-badge-bronzeage {
  background-color: #CCFFBD;
  color: #202124;
}

.custom-badge-ironage {
  background-color: #47597E;
}


.custom-badge-roman {
  background-color: #F78812;
}

.custom-badge-earlymedieval {
  background-color: #FFEE93;
  color: #202124;
}

.custom-badge-medieval {
  background-color: #A05344;
}

.custom-badge-postmedieval {
  background-color: #FFADAD;
}

.custom-badge-twentiethcentury {
  background-color: #911F27;
}
#search-addon {
    display: none;
}
