---
layout: default
---
<h1>{{ page.title }}</h1>

<form action="search" method="get">
  <div class="form-row">
    <div class="form-group col-10">
      <input type="text" id="search-box" class="form-control form-control-lg" name="query">
    </div>
    <div class="form-group col-auto">
      <input type="submit" class="btn btn-primary" style="margin-top: 3px;" value="Search">
    </div>
  </div>
</form>

<ul id="search-results" class="search-results"></ul>


<script src="/sturdy-robots/assets/javascript/search-content.js"></script>
<script src="/sturdy-robots/assets/javascript/lunr.js"></script>
<script src="/sturdy-robots/assets/javascript/search.js"></script>

<link rel="stylesheet" href="/sturdy-robots/assets/custom_style.css">
