---
layout: default
---
<h1>{{ page.title }}</h1>
<div class="search">
  <form action="search" method="get">
    <input type="text" id="search-box" class="form-control" name="query">
    <input type="submit" class="btn btn-primary" value="Search">
  </form>
  <ul id="search-results" class="search-results"></ul>
</div>

<script src="/sturdy-robots/assets/javascript/search-content.js"></script>
<script src="/sturdy-robots/assets/javascript/lunr.js"></script>
<script src="/sturdy-robots/assets/javascript/search.js"></script>
